@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}
.Performance {
  display: flex;
  overflow: hidden;
}
.sidebar {
  flex: 1;
}
.performance_main_container {
  padding: 40px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  /* flex: 5; */
}
.performance_main_container h1 {
  font-size: 2rem;
  padding: 20px;
  background-color: #fff;
  border-left: 10px solid blue;
}

.submit-button {
  width: 100%;
  background-color: #4caf50; /* Green */
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #45a049;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Add hover effect to rows */
tbody tr:hover {
  background-color: #f5f5f5;
}
.hidden {
  display: none;
}
